<div class="news-item">
    <header>
        <h2>Top news from {{ countryName }}</h2>

        <form [formGroup]="countryForm">
            <select formControlName="country" (change)="changeCountry()">
                <option 
                    *ngFor="let country of countriesList;" 
                    [value]="country.code"
                >{{ country.name }}</option>
            </select>
        </form>
    </header>

    <app-loader *ngIf="isLoading; else loaded"></app-loader>

    <ng-template #loaded>
        <app-error *ngIf="error">{{ error }}</app-error>

        <ng-container *ngIf="news; else noNews">
            <article *ngFor="let article of news" appBackgroundColor="#ededed">
                <h3>
                    <a [href]="article.url" target="_blank">{{ article.title }}</a>
                </h3>
                <span class="author">{{ article.author }}</span>
                <div>
                    <p>{{ article.description }}</p>
                    <a [href]="article.url" target="_blank">Read more...</a>
                </div>
            </article>
        </ng-container>
        
        <ng-template #noNews>
            No news yet...
        </ng-template>
    </ng-template>

    

</div>