<div>
    <h2>Weather</h2>

    <app-loader *ngIf="isLoading; else loaded"></app-loader>

    <ng-template #loaded>
        
        <app-weather-filter 
            (onDateFilter)="dateFilter($event)"
            (onResetFilter)="resetFilter()"
            [min]="min | date:'y-MM-d'"
            [max]="max | date:'y-MM-d'"
            class="filters"
        ></app-weather-filter>

        <app-error *ngIf="error">{{ error }}</app-error>
        
        <div class="weather">
            
            <div *ngFor="let weather of filteredList;" class="weather-block" appBackgroundColor="#ededed">
                <span class="block-time">{{ weather.dt_txt | date: 'MMM d, h:mm a' }}</span> 
                <span class="block-temp">{{ weather.main.temp | number: '1.0-0' }} °С</span>
            </div>
        </div>
    </ng-template>
    
</div>
