<div class="container">

  <header>
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a routerLink="/weather" routerLinkActive="active">Weater</a>
        </li>
        <li>
          <a routerLink="/news" routerLinkActive="active">News</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    &copy; Some legal info. Nobody reads this, {{ date | date:"y" }}
  </footer>

</div>
